/* #fff */

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000;
  background-color: #ffefde;
  /* background-image: url("/background.png");
  background-size: cover; */
}

ul,
li {
  text-decoration: none;
}

main {
  margin: 100px auto;
  line-height: 1.5;
  max-width: 1320px;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1;
}

h2 {
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: -0.1em;
  margin-block-start: 0;
  margin-block-end: 0;
  -webkit-text-stroke: 2px #810000;
  color: #ffefde;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #810000;
  letter-spacing: 0.05em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page__inner {
  max-width: 60rem;
  margin: 50px auto;
  text-align: center;
}

.page__inner_m50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  color: #000;
  text-decoration: none;
}

pre {
  padding: 20px 20px;
  background-color: #ffe7cc;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
}

code {
  font-size: 14px;
  background-color: #ffe7cc;
}

.displayNone {
  display: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }

  h1 {
    font-size: 4.6rem;
  }

  h2 {
    font-size: 6rem;
  }

  main {
    margin: 20px;
  }

  pre {
    overflow: scroll;
    white-space: pre-wrap;
    word-break: break-word;
  }
}
