html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #000;
  background-color: #ffd5a5;
}

.page__inner {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.page__inner_m120 {
  margin-top: 120px;
  margin-bottom: 120px;
}

a {
  color: #000;
  text-decoration: none;
}

p {
  font-size: 20px;
}

* {
  box-sizing: border-box;
}
